
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';
//@import "node_modules/jquery";
@import '~jquery-ui/themes/base/all.css';

//Archivos css
@import 'components/login';
@import 'components/forms';
@import 'components/header';
@import 'components/historiaOptometria';
@import 'components/historiaClinica';
@import 'components/historiaAudiometria';
@import '~easy-autocomplete/dist/easy-autocomplete';


@font-face {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'montserrat-bold';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/montserrat/Montserrat-Bold.ttf");
}

::-webkit-input-placeholder { font-size: 0.8rem; }

:-moz-placeholder { /* Firefox 18- */ font-size: 0.8rem; }

::-moz-placeholder { /* Firefox 19+ */ font-size: 0.8rem; }

:-ms-input-placeholder { font-size: 0.8rem; }

::-webkit-input-placeholder { font-size: 0.8rem; }

:-moz-placeholder { /* Firefox 18- */ font-size: 0.8rem; }

::-moz-placeholder { /* Firefox 19+ */ font-size: 0.8rem; }

:-ms-input-placeholder { font-size: 0.8rem; }

:focus::-webkit-input-placeholder{color:transparent;}

$color-analizar-rojo: #8e1b3f;

body{
    font-family: 'montserrat';
    background-color: #FFFFFF;
    counter-reset: my-sec-counter;
    font-size: 0.8rem;
    margin: 0px 2px 0px 2px;
}

select{
    font-size: 0.8rem;
}

textarea{
    font-size: 0.8rem;
}

.title-sections{
    text-align: left;
    padding-bottom: 1%;
    color: $color-analizar;
}

.title-principal{
    text-align: left;
    padding-top: 1%;
    color: $color-analizar-rojo;
}

.title-sections-log {
    text-align: center;
    padding-bottom: 1%;
    color: #003594;
    padding-top: 5%;
}

.title-pass{
    text-align: center;
    padding-top: 1%;
    color: $color-analizar-rojo;
}

.border-container{
    border-style: solid;
    border-width: 1px ;
    border-color: $color-analizar;
    border-radius: 2px;
    padding: 2% 2%;
}

#sub-title{
    padding-top: 2%;
}

.h6-footer{
    padding-left: 1%;
}

.container-local {
    margin: 1% 3% 0 3%;
}

.container-footer{
    margin: 1% 4% 0 4%;
}

.container-pass{
    margin: 1% 32% 0 32%;
}

.count:before {
    /* Increment "my-sec-counter" by 1 */
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter) ". ";
}

.toast-local{
    background-color: rgba(201, 214, 236, 0.95);
    max-width: none;
    position: absolute; top: 4%;
    right: 4%;
}

.dropdown-menu{
    font-size: 0.8rem;
}

@media (max-width: 1366px){
    .container-local {
        margin: 1% 2% 0 2%;
    }

    .container-footer{
        margin: 1% 4% 0 3%;
    }
}
