.row-size-label{
    width: 35%;
}

.row-size-input{
    width: 64%;
}

.row-size-pass{
    width: 100%;
}

.button-form{
    width: 100%;
    background: $color-analizar;
    border-color: $color-analizar;
    margin-top: 3%;
}

.form-control-form{
    padding: 3px 8px;
    font-size: 0.8rem;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(1.7rem + 2px);
    font-size: 0.8rem;
}

.select-form:not([size]):not([multiple])  {
    height: calc(1.8rem + 2px);
}

.div-select-form{
    display: inline-block;
    margin-bottom: 0;
}

.find-input{
    width: 100%;
}

.col-find-input{
    padding-right: 0;
}

.find-button{
    margin-top: 0;
}

.find-row{
    padding-bottom: 3%;
}

.img-foto{
    height: 165px;
    width: 100%;
    //border: 1px solid #ced4da;
}

.img-firma{
    width: 50%;
    border: solid;
    border-color: #ced4da;
    border-width: 0px 0px 1px 0px;
}

.button-delete{
    width: 100%;
    height: 70%;
    padding: 3% 1% 4% 1%;
}

.padding-bottom-pass{
    padding-bottom: 2%;
}
