$color-toast: #c9d6ec;

.active{
    //text-decoration: none;
    //background-color: $color_toast;
    //background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    //border-color: #cccccc transparent transparent transparent;
    //border-style: solid;
    //border-width: 7px 7px 0 7px;
    //display: block;
    //height: 0;
    //left: 50%;
    //margin-left: -7px;
    //top: 0 !important;
    //width: 0;
    color: #75c4f2;
}

.header-wrapper {
    position: relative;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: top center;
}

.margin-header{
    margin: 0% 0% 1% 0%;
}

.size-img{
    width: 50%;
}

.menu {
    background-color: $color-analizar;
    height: 100%;
}

#navbarDropdown{
    color: #fff;
    text-decoration: none;
    content: none;
}

.navbar{
    padding: 0;
}

#navbarSupportedContent > ul > li{
    padding-top: 1%;
    padding-bottom: 1%;
}

.logout{
    text-align: right;
    padding-top: 3%;
}

a.dropdown-item{
    color: $color-analizar;
    padding: 10px 12px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.dropdown-item:hover, .dropdown-item:focus {
    color: $color-analizar;
    text-decoration: none;
    background-color: $color-toast;
}

.style-dropdown > ul > li > div{
    margin-top: 0;
    background-color: #75c4f2;
    display: none;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.03);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,.03);
    border-radius: 0;
    padding: 0;
}

.toast.show{
    z-index: 1;
}
