.container-estado{
    border: solid;
    border-width: 1px;
    padding: 3%;
}
.margin-label{
    margin: 0;
}

.col-title-estado{
    padding-top: 0%;
    font-size: 1.35rem;
}

.center-col{
    display: flex;
    justify-content: center;
    align-items: center;
}

#estado-btn > input{
    margin: 0;
}

.font-bold{
    font-family: 'montserrat-bold';
    background-color: #FFFFFF;
    counter-reset: my-sec-counter;
}

.size-motivoE{
    width: 100%;
}

.border-white{
    border-color: white;
    font-size: 0.8rem;
    width: 82%;
}

.size-input-header{
    width: 40%;
}

.size-input-cargo{
    width: 70%;
}

.padd-col-motivoE{
    padding-left: 0;
    padding-right: 0;
}

.padd-label{
    padding-top: 2px;
}

.width-lbl{
    max-width: 10%;
    width: 10%;
}

.padd-row-ppl{
    padding-left: 0;
    padding-right: 0;
}

.nav-item > a{
    font-size: 0.8rem;
    padding: 0.5rem 0.5rem;
}

.border-tabs{
    border-style: solid;
    border-width: 1px;
    border-color: #f8fafc #003594 #003594;
    border-radius: 0px 2px;
    padding: 0% 1% 2% 1%;
}

.nav-tabs {
    border-bottom: 1px solid #003594;
}

.nav-link{
    color: #000000;
    text-decoration: none;
    font-family: 'montserrat-bold';
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #003594;
    background-color: #f8fafc;
    border-color: #003594 #003594 #f8fafc;
}

.picker-tab{
    text-align: center;
    padding: 3px;
}

.active{
    color: #000000;
}

.size-input-small{
    width: 50%;
}

.size-label-small{
    width: 40%;
}

.size-label-small-c{
    width: 11%;
}

.size-input-small-c{
    width: 82%;
}

.size-label-small-j{
    width: 26%;
}

#jornada-tab{
    padding-top: 3px;
}

#jornada-tab > div{
    margin-right: 0.5rem;
}

.size-row-antig{
    font-size: 0.8rem;
    width: 49%;
}

.antiguedadO-size{
    width: 12%;
    padding: 3.5px 2px;
}

.size-label-antig{
    width: 30%;
}

.size-row-antigTE{
    font-size: 0.8rem;
    width: 35%;
}

.size-lbl-empresa{
    width: 9%;
}

.size-input-emp{
    width: 100%;
}

.size-col-ep{
    padding-right: 0;
    max-width: 15%;
}

.size-lbl-efr{
    width: 13%;
}

.size-input-efr{
    width: 85%;
}

.size-input-cfr{
    width: 87%;
}

.size-lbl-texp{
    width: 45%;
}

.size-input-texp{
    width: 10%;
}

.size-lbl-cfr{
    width: 11%;
}

.tdImg{
    padding: 7px;
    text-align: center;
}

#tr > td{
    padding: 0;
}

.input-table{
    border: none;
    height: 44px;
    text-align: left;
    width: 100%;
    padding: 4px;
}

.tab-container{
    margin: 1% 6% 0 6%;
}

.tab-subtitle{
    text-align: left;
    padding-bottom: 1%;
    color: #003594;
    margin: 0;
}

.width-lbl-ep{
    width: 19%;
}

#divAlcohol > label{
    width: 30%;
}

.container-small > div{
    padding: 6% 2%;
}

.input-container-small{
    width: 68%;
}

#divAlcohol > .width-lbl-spsc{
    width: 50%;
}

#divAlcohol > .width-lblgeneral{
    width: 48%;
}

#select-medida{
    width: 35%;
}

.width-lbl-antecedentesF{
    width: 35%;
}

.width-lbl-antecedentesP{
    width: 22%;
}


.width-input-antecedentesP{
    width: 55%;
}

.input-antecedente-small{
    width: 7%;
}

.width-col-rs{
    max-width: 13%;
    padding-top: 1px;
}

.width-col-geni{
    max-width: 15%;
    padding-top: 1px;
}

.container-medium > div{
    margin-top: 2%;
    padding: 4% 2%;
}

#divResultados > label{
    width: 35%;
}

.width-select-result{
    width: 64%;
}

.carousel-ef > ol > li{
    background-color: $color-analizar;
}

#lbl-balanceM > label{
    width: 10%;
}

#lbl-balanceM > input{
    width: 23.5%;
}

#reflejos-osteo > label{
    width: 12%;
}

#reflejos-osteo > div{
    width: 15%;
}

#lbl-examenF1 > div > label{
    width: 46%;
}

#lbl-examenF1 > div > div{
    width: 40.5%;
}

#lbl-examenF2 > div > label{
    width: 50%;
}

#lbl-examenF2 > div > div{
    width: 46%;
}

#lbl-examenF2 > div > input{
    width: 46%;
}

.container-small-ef > div{
    padding: 5% 6%;
}

#lbl-examenF3 > div > label{
    width: 26%;
}

#lbl-examenF3 > div > div{
    width: 21%;
}

#reflejos-osteo > span{
    margin-right: 7.5%;
}

.easy-autocomplete{
    width: 100% !important;
}

@media (max-width: 1366px){

    .size-input-cargo{
        width: 67%;
    }

    .size-label-small{
        width: 43%;
    }

    .size-label-small-c{
        width: 14%;
    }

    .size-input-small-c{
        width: 77%;
    }

    .padding-lbl-0{
        padding: 0;
    }

    .size-row-antig{
        font-size: 0.8rem;
        width: 49%;
    }

    .antiguedadO-size{
        width: 12%;
        padding: 3px 8px;
    }

    .form-control{
        padding: 0.3rem 0.75rem;
    }

    .size-label-antig{
        width: 33%;
    }

    .size-lbl-empresa{
        width: 10%;
    }

    .size-input-emp{
        width: 100%;
    }

    .size-input-cfr{
        width: 85%;
    }

    .size-lbl-texp{
        width: 47%;
    }

    .size-lbl-cfr{
        width: 12%;
    }

    .width-lbl-ep{
        width: 20%;
    }

    #divAlcohol > label{
        width: 32%;
    }

    .input-container-small{
        width: 66%;
    }

    #divAlcohol > .width-lbl-spsc{
        width: 52%;
    }

    #divAlcohol > .width-lblgeneral{
        width: 46%;
    }

    #select-medida{
        width: 33%;
    }

    .width-lbl-antecedentesF{
        width: 33%;
    }
    .width-col-rs{
        max-width: 14%;
        padding-top: 1px;
    }
}
