
.padding-top-lbl{
    padding-top: 2px;
}

.nopadd-col{
    padding-left: 0;
}

.form-control-audio{
    padding: 3px 8px;
    font-size: 0.8rem;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
}

#divAP > label {
    width: 47%;
}

#colAudio > input{
    margin-top: 5px;
}

#colAudio > label{
    margin-top: 5.5px;
}
