
.width-lbl-antecedentesOpto{
    width: 26%;
}

#margin-bottom-row > div.row{
    margin-bottom: 5px;
}

.width-lbl-antecedentesOpto{
    width: 26%;
}
.width-lbl-sintomasOpto{
    width: 40%;
}
.width-lbl-riesgosOpto{
    width: 60%;
}
