
$size_input: 13px;
$color-border: #c3c3c3;
$color-analizar: #003594;

.container-login{
    position: relative;
}

.vertical-center{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}

.fild-login {
    width: 100%;
    font-size: $size_input;
}

.button-login{
    width: 100%;
    background: $color-analizar;
    border-color: $color-analizar;
}

.img-login{
    width: 100%;
    padding-bottom: 0%;
}

.container-img{
    padding: 0;
}

.margin-login{
    margin-bottom: 1%;
}

.padding-top-log{
    padding-top: 4%;
}
